################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EP1_2/EP1/EP1.WindowsPhone/obj/Debug
/EP1_2/EP1/EP1.WindowsPhone/obj/x86/Debug
/EP1_2/EP1/EP1.Windows/bin/
/EP1_2/EP1/EP1.Windows/obj/
/EP1_3/EP1/EP1.Windows/bin/
/EP1_3/EP1/EP1.Windows/obj/
/EP1/EP1/EP1.Windows/bin
/EP1/EP1/EP1.Windows/obj
/EP1/EP1/EP1.WindowsPhone/obj/Debug
/EP1/EP1/EP1.WindowsPhone/obj/x86/Debug
/EP1_8/EP1/EP1.Windows/bin
/EP1_8/EP1/EP1.Windows/obj
/EP1_8/EP1/EP1.WindowsPhone/bin/x86/Debug
/EP1_8/EP1/EP1.WindowsPhone/obj/Debug
/EP1_8/EP1/EP1.WindowsPhone/obj/x86/Debug
/EP1_7/EP1/EP1.Windows/bin
/EP1_7/EP1/EP1.Windows/obj
/EP1_7/EP1/EP1.WindowsPhone/obj
/EP1_6/EP1/EP1.Windows/bin
/EP1_6/EP1/EP1.Windows/obj
/EP1_6/EP1/EP1.WindowsPhone/obj
/EP1_6/EP2/
/EP1_5/EP1/EP1.Windows/bin
/EP1_5/EP1/EP1.Windows/obj
/EP1_5/EP1/EP1.WindowsPhone/obj
/EP1_4/EP1/EP1.Windows/bin
/EP1_4/EP1/EP1.Windows/obj
/EP1_4/EP1/EP1.WindowsPhone/obj
/EP1_3/EP1/EP1.WindowsPhone/obj

/EP1_9/EP1/EP1.Windows/bin
/EP1_9/EP1/EP1.Windows/obj
/EP1_9/EP1/EP1.WindowsPhone/bin/x86/Debug
/EP1_9/EP1/EP1.WindowsPhone/obj
/EP2_1/EP1/EP1.Windows/bin
/EP2_1/EP1/EP1.Windows/obj
/EP2_1/EP1/EP1.WindowsPhone/bin/x86/Debug
/EP2_1/EP1/EP1.WindowsPhone/obj
